{{yield}}

<div class="col-xs-4 col-xs-offset-4">
  <div class="row" style="margin-left:2em;">
    <h3><span class="label label-primary">Enlightened Citizenry</span></h3>
  </div>
  <div class="well">
    <p>"An enlightened citizenry is indispensable for the proper functioning of a republic. Self-government is not possible unless the citizens are educated sufficiently to enable them to exercise oversight."</p>
    <span class="label label-default"> -Thomas Jefferson </span>
  </div>
</div>
